{% block content %}
    <style>

        table, th, td {
          border: 0.5px solid #FFFFFF;
          border-collapse: collapse;
        }
        table{
            position: absolute;
            width: 1210px;
            height: 537px;
            background: #1C2434;
            margin-top: 100px;
            margin-left: 200px;
            {#table-layout: fixed;#}
        }
        th, td {
            font-family: "JetBrains Mono", serif;
            font-weight: 300;
            {#font-size: 12px;#}
            color: #FFFFFF;
        }
        th{
            margin-top: 6px;
            text-align: center;
            background: #8A99AF;
        }
        td{
            text-align: center;
            overflow: hidden;
        }
        button_container{
            display: flex;
            justify-content: center;
            align-items: center
        }

        button_container {
            position: relative;
            height: 22px;
            border-radius: 2px;
            margin: 0 10px;
            text-align: center;
            padding-left: 20px !important;
        }

        button {
            margin-left: 30px;
            line-height: 16px;
            width: 76px !important;
        }
        button:hover{
            background-color: azure;
        }
        button.view{
            background: #FFFFFF;
        }
        button.edit{
            background: #59C885;
        }
        button.delete{
            background:  #C85959;
        }
        #product-table{
            display: table;
        }
        h1{
            text-align: center;
        }
    </style>

        <label for="tag-selector">Choose a tag:</label>
        <select id="tag-selector">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
     <table id="product-table">
            <h1>Personal Inventory</h1>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Barcode</th>
                    <th>Expiry Date </th>
                    <th>Quantity</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for item in inventory %}
                <tr class="existing-products">
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }} $ </td>
                    <td>{{ item.product.barcode }}</td>
                    <td>{{ item.product.expiry_date }}</td>
                    <td>{{ item.product.quantity }}</td>
                    <td>{{ item.product.tag }}</td>
                    <td>{{ item.product.description }}</td>
                    <td>
                        <div class="button_container row">
                            <button type="button" class="delete" onclick="deleteProduct('{% url "delete_product" item.product.pk %}')">Delete</button>
                            <button type="button" class="view" onclick="viewProduct('{% url "single_product" item.product.pk %}')">View</button> <br>
                        </div>
                    </td>
                </tr>
            {% endfor %}
     </table>

{% endblock %}
{% block custom_scripts %}
    <script>
        $('#tag-selector').change(function () {
            let selectedTag=$(this).val();
            $.ajax({
                type: "POST",
                url: '{% url "personal_inventory" %}',
                data: {
                    "tag": selectedTag
                },
                success: function (response) {
                    console.log(response.filtered_products)
                    if (response.message === 'success') {
                        $('.existing-products').hide()
                    }
                    if(response.filtered_products){
                        let filtered_products = JSON.parse(response.filtered_products)
                        let tableBody = $("#product-table tbody");
                        tableBody.empty();
                        for(let i = 0; i < filtered_products.length; i++) {
                            let expiry_date = new Date(filtered_products[i].fields.expiry_date)
                            let formatted_date = expiry_date.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true })
                            $("#product-table").append(
                                "<tr>" +
                                    "<td>" + filtered_products[i].fields.name + "</td>" +
                                    "<td>" + filtered_products[i].fields.price + "</td>" +
                                    "<td>" + filtered_products[i].fields.barcode + "</td>" +
                                    "<td>" + formatted_date + "</td>" +
                                    "<td>" + filtered_products[i].fields.quantity + "</td>" +
                                    "<td>" + filtered_products[i].fields.tag + "</td>" +
                                    "<td>" + filtered_products[i].fields.description + "</td>" +
                                    "<td>" +
                                        "<div class='button_container row'>" +
                                            "<button type='button' class='view' onclick='viewFilteredProduct(" + filtered_products[i].pk + ")'>View</button><br>" +
                                            "<button type='button' class='edit' onclick='editFilteredProduct(" + filtered_products[i].pk + ")'>Edit</button><br>" +
                                            "<button type='button' class='delete' onclick='deleteFilteredProduct(" + filtered_products[i].pk + ")'>Delete</button>" +
                                        "</div>" +
                                    "</td>" +
                                "</tr>"
                            )
                        }

                    }
                }
            })
        })

        function deleteProduct  (url){
            window.location.href = url
        }
        function viewProduct(url){
            window.location.href = url
        }
        function deleteFilteredProduct(id){
            window.location.href = "/inventory/product/list" + id
        }
        function viewFilteredProducts(id){
            window.location.href = "/inventory/product/list" + id
        }
        function editFilteredProducts(id){
            window.location.href = "/inventory/product/list" + id
        }
    </script>
{% endblock %}