{% extends "base.html" %}

{% block content %}
    <style>
        .navbar{
            display: none;
        }
        *{
            box-sizing: border-box;
        }
        .wrapper{
            box-sizing: border-box;
            border: 0.5px solid #FFFFFF;
            position: relative;
            width: 328px;
            height: auto; /* adjust height to fit content */
            background: #1C2434;
            border-radius: 10px;
            margin-top: 100px;
            margin-left: 728px;
            padding: 20px; /* reduce padding to avoid overflow */
            overflow: auto; /* add scrollbar if content overflows */
        }
        #product-form{
            font-family: "JetBrains Mono", serif;
            font-weight: 300;
            color: #FFFFFF;
            {#margin-top: 51px;#}
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
        }
        input{
            background: #333A48;
            color: #ffffff;
            margin-top: 10px;
            row-gap: 1px;
            border-radius: 7px;
            border: 1px solid #ffffff;
        }
        label{
            margin-top: 10px;
        }
         input[value="submit"] {color:#ffffff; font-size: 20px; font-family: 'Inder',serif; font-weight: 400; line-height: 19px;padding-bottom: 2px;background: orange;border: none}
    </style>
    <div class="wrapper">
        <form id="product-form" method="post">
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name">
            <label>Price</label>
            <input type="number" name="price">
            <label>Barcode</label>
            <input type="text" name="barcode">
            <label>Expiry Date</label>
            <input type="datetime-local" name="expiry_date">
            <label>Quantity</label>
            <input type="number" name="quantity">
            <label>Tag</label>
            <input type="text" name="tag">
            <label>Description</label>
            <input type="text" name="description">
            <label>Company</label>
            <input type="text" name="company_name">
            <input type="submit" id="submit" value="submit">
        </form>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        $("#product-form").submit(function (event) {
            let url = '{% url "create_product" %}';

            $.ajax({
                type: "POST",
                url: url,
                data: $("#product-form").serialize(),
                success: function (response_data) {
                    console.log(response_data)
                }
            })

            event.preventDefault()
        })
    </script>
{% endblock %}