{% extends "base.html" %}


{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
       .navbar{
            display: none;
        }
        *{
            box-sizing: border-box;
        }
        .wrapper{
            box-sizing: border-box;
            border: 0.5px solid #FFFFFF;
            position: relative;
            width: 328px;
            height: auto; /* adjust height to fit content */
            background: #00759A;
            border-radius: 7px;
            margin-top: 100px;
            margin-left: 728px;
            padding: 20px; /* reduce padding to avoid overflow */
            overflow: auto; /* add scrollbar if content overflows */
        }
        #product-form{
            font-family: "JetBrains Mono", serif;
            font-weight: 300;
            color: #FFFFFF;
            {#margin-top: 51px;#}
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
        }
        input{
            row-gap: 1px;
        }
        h2{
            text-align: center;
            font-family: 'Inspiration', cursive;
            font-weight: 400;
            font-size:50px;
            line-height: 62px;
            color: #000000;
            margin-top: 20px;
            margin-bottom: 39px;
        }
    </style>

    <div class="wrapper">
        <h2>Edit Product</h2>
        <form id="product-form" method="post">
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="name" value="{{ product.name }}"><br><br>
            <label>Price</label>
            <input type="number" name="price" value="{{ product.price }}"><br><br>
            <label>Barcode</label>
            <input type="text" name="barcode" value="{{product.barcode}}"><br><br>
            <label>Expiry Date</label>
            <input type="datetime-local" name="expiry_date" value="{{ product.expiry_date }}"><br><br>
            <label>Quantity</label>
            <input type="number" name="quantity" value="{{ product.quantity }}"><br><br>
            <label>Tag</label>
            <input type="text" name="tag" value="{{ product.tag }}"><br><br>
            <label>Description</label>
            <input type="text" name="description" value="{{ product.description }}"><br><br>
            <label>Company</label>
            <input type="text" name="company_name" value="{{ company.company_name }}">
            <input type="submit">
        </form>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $("#product-form").submit(function (event) {
            let url = '{% url "edit_product" product.pk %}';

            $.ajax({
                type: "POST",
                url: url,
                data: $("#product-form").serialize(),
                success: function (response_data) {
                    console.log(response_data)
                }
            })

            event.preventDefault()
        })
    </script>
{% endblock %}