{% extends "base.html" %}

{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
        .navbar{
            display: none;
        }

        .sidebar{
            position: absolute;
            width: 288px;
            {#height: 700px;#}
            {#border: 1px solid white;#}
            background: #1C2434;
            display: inline-block;
            text-align: center;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            border: none;

        }

       #dashboard{
           margin-top: 1px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px 8px 15px;
            gap: 10px;


            position: absolute;
            height: 40px;
            left: 8.93%;
            right: 8.93%;


            background: #333A48;
            border-radius: 3px;
            font-family: 'Poppins',serif;
            font-style: normal;
            font-size: 18px;
            line-height: 24px;
            color: #DEE4EE;
            border: none;


       }
       .sidebar-menu{
           margin-top: 104px;
       }
       #navigation{
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px 8px 15px;
            gap: 10px;


            position: absolute;
            height: 40px;
            left: 8.93%;
            right: 8.93%;


            background: #333A48;
            border-radius: 3px;
            font-family: 'Poppins',serif;
            font-style: normal;
            font-size: 18px;
            line-height: 24px;
            color: #DEE4EE;
            border: none;
       }
       .sidebar-menu-navigation{
           margin-top: 80px;
       }
       #profile{
           display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px 8px 15px;
            gap: 10px;


            position: absolute;
            height: 40px;
            left: 8.93%;
            right: 8.93%;
            border: none;


            background: #333A48;
            border-radius: 3px;
            font-family: 'Poppins',serif;
            font-style: normal;
            font-size: 18px;
            line-height: 24px;
            color: #DEE4EE;
       }
       .sidebar-menu-profile{
           margin-top: 70px;
       }
       li,a{
           font-family: 'Poppins',serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #8A99AF;
             display: inline;
           justify-content: space-between;
       }

       ul,li{
           margin-right: 73px;
           list-style: none;


       }
       a{
           text-decoration: none;
           float: left;

       }
        a, a:hover { color: #8A99AF; }

        h2{
            text-align: center;
            font-family: 'Inspiration', cursive;
            font-weight: 400;
            font-size:50px;
            line-height: 62px;
            color: #FFFFFF;
            margin-top: 20px;
            margin-bottom: 39px;
        }
        a

    </style>
    <div class="sidebar">
         <h2>Gjenis CO.</h2>
        <button id="dashboard">Dashboard</button>
            <div class="sidebar-menu">
                <ul class="menu-ul">
                    <a href="" onclick="toggleDropdown()">Email</a><br><br>
                        <select id="email-status" name="email-status" style="display: none"><br><br>
                            <option value="Draft">Draft</option>
                            <option value="Scheduled">Scheduled</option>
                            <option value="Sent">Sent</option>
                            <option value="Archived">Scheduled</option>
                        </select>
                    <a href="">Deals</a><br><br>
                    <a href="{% url "create_product" %}">Create Product</a><br><br>
                    <a href="">Message</a><br><br>
                    <a href="">Calendar</a><br><br>

                </ul>
            </div>
        <button id="navigation">Navigation</button>
            <div class="sidebar-menu-navigation">
                <ul>
                    <a href="">Leads</a><br><br>
                    <a href="">Appointments</a><br><br>
                </ul>
            </div>


        <button id="profile">Profile</button>
            <div class="sidebar-menu-profile">
                <ul>
                    <a href="">Europe/Amsterdam</a><br><br>
                    <a href="{% url "profile" user.pk %}">Profile</a><br><br>
                    <a href="{% url "logout" %}">Logout</a><br><br>
                 </ul>
            </div>

    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        function toggleDropdown(){
            let dropdown = document.getElementById("email-status")
            if(dropdown.style.display === "none") {
                dropdown.style.display = "block";
            }
        }
    </script>

{% endblock %}